/* &display=swap */

@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Taviraj:500&display=swap);
/* ================================================================ */

/* ================================================================ */

body {
	font-family: "Lato", sans-serif;
	/* background-color: rgba(218, 218, 218, 0.445); */
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
